<!DOCTYPE html>
<html>
  <head>
    <title><%= myData.title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h1><%= myData.title %></h1>
    <p>Welcome to <%= myData.title%></p>
    <table style="border-spacing: 10px;">
      <thead>
          <tr>
              <th>ID#</th>
              <th>Term</th>
              <th>Description</th>
              <th>References</th>
          </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < myData.tableData.length; i++) { %>
          <tr>
            <td><%= myData.tableData[i].id %></td>
            <td><%= myData.tableData[i].term %></td>
            <td><%= myData.tableData[i].description %></td>
            <td><%= myData.tableData[i].references %></td>
          </tr>
        <% } %> 
          <!-- and so on... -->
      </tbody>
    </table>
  </body>
</html>
